<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mit.library">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lib1"
        android:label="SMART LIBRARY"
        android:roundIcon="@drawable/lib1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IssueActivity"></activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".NavActivity"
            android:label="@string/title_activity_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>